@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: "Poppins", sans-serif;
}

body {
  background: radial-gradient(#2a6577, #003154);
  width: 100vw;
  height: 100vh;
}

#local {
  background-color: #185a72;
  width: 50vw;
  text-align: center;
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  font-size: 2.5em;
  color: rgb(255, 255, 255);
  box-shadow: 4px 7px 8px 0px #0000001e;
  text-shadow: 4px 7px 6px #0000003d;
}

#pesquisa {
  width: 45vw;
  height: 8vh;
  background-color: #185a72;
  border-radius: 25px;
  margin: auto;
  margin-top: 10px;
  font-size: 1.2em;
  text-indent: 10px;
  color: white;
  border: 1px solid rgb(110, 110, 110);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#enviar {
  width: 15vw;
  font-size: 1em;
  background-color: #206179;
  margin-top: 10px;
  border-radius: 25px;
  color: white;
  margin: 10px;
  font-weight: 700;
  box-shadow: 4px 7px 11px 0px #00000027;
}

#enviar:hover {
  background-color: rgba(255, 255, 255, 0.849);
  color: #185a72;
}
